Repository lydemann/Todo-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}, stylelint --fix

chore: remove json pipe
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: format
  libs/shared/ui/styles/src/lib/helpers/variables.scss
Due: npx nx format:write --files=${files.join(',')}, stylelint --fix

chore: format
  .storybook/tsconfig.json
  apps/questionnaire-app/karma.conf.js
  apps/questionnaire-app/src/app/questionnaire/questionnaire-section/questionnaire-section.component.spec.ts
  apps/questionnaire-app/src/index.html
  apps/reactapp/src/index.html
  apps/todo-admin-e2e/cypress.json
  libs/shared/ui/styles/src/lib/helpers/variables.scss
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}, stylelint --fix

chore: format
  apps/reactapp/index.html
  apps/todo-admin-e2e/src/fixtures/example.json
  apps/todo-admin-e2e/tsconfig.e2e.json
  apps/todo-app/src/manifest.json
  libs/shared/data-access/data-access-logging/src/lib/global-error-handler/global-error-handler.service.ts
  libs/shared/data-access/src/lib/endpoints/endpoints.service.ts
  libs/shared/data-access/tsconfig.lib.json
  libs/shared/ui/src/lib/crud-item/crud-item.component.scss
  libs/shared/ui/styles/src/lib/helpers/variables.scss
  libs/todo-app/domain/src/lib/router.serilization.ts
  tools/schematics/todo-app-schematics/README.md
  tools/schematics/todo-app-schematics/src/todo-app-schematics/index.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}, stylelint --fix

chore: merge
  libs/shared/ui/styles/src/lib/helpers/variables.scss
Due: npx nx format:write --files=${files.join(',')}, stylelint --fix

chore: lint fix
  libs/shared/ui/styles/src/lib/helpers/variables.scss
Due: npx nx format:write --files=${files.join(',')}, stylelint --fix

feat: mock scenarios
  apps/todo-app/playwright/mock-tests/todo-list.spec.ts
  apps/todo-app/src/app/app.routes.ts
  apps/todo-app/src/styles.scss
  apps/todo-app/tailwind.config.js
  libs/todo-app/domain/mocks/src/lib/handlers.ts
  libs/todo-app/domain/mocks/src/lib/handlers/bad-requst-response-resolver.ts
  libs/todo-app/domain/mocks/src/lib/handlers/create-scenario.ts
  libs/todo-app/domain/mocks/src/lib/handlers/todo-handlers.ts
  libs/todo-app/domain/mocks/src/lib/index.ts
  libs/todo-app/domain/mocks/src/lib/scenarios.ts
  libs/todo-app/feature/src/index.ts
  libs/todo-app/feature/src/lib/mock-scenarios/index.ts
  libs/todo-app/feature/src/lib/mock-scenarios/mock-scenarios.component.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.page.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}, stylelint --fix

feat: signal store
  .gitignore
  .vscode/settings.json
  libs/todo-app/domain/src/lib/todo-list/resources/todo-list-resources.service.ts
  libs/todo-app/domain/src/lib/todo-list/todo-list-facade.service.ts
  libs/todo-app/domain/trpc-server/src/lib/trpc-server.ts
  libs/todo-app/feature/src/lib/layout/footer/footer.component.html
  libs/todo-app/feature/src/lib/layout/footer/footer.component.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.component.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.ts
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

feat: set up mock scenarios
  apps/logging-service/project.json
  apps/pwa-client/project.json
  apps/questionnaire-app-e2e/project.json
  apps/questionnaire-app/project.json
  apps/reactapp-e2e/project.json
  apps/todo-admin-e2e/project.json
  apps/todo-admin/project.json
  apps/todo-app/project.json
  apps/todo-app/src/mockServiceWorker.js
  libs/shared/data-access/data-access-logging/src/lib/global-error-handler/global-error-handler.service.ts
  libs/shared/util/util-i18n/project.json
  libs/todo-app/domain/mocks/src/lib/handlers/bad-requst-response-resolver.ts
  libs/todo-app/domain/mocks/src/lib/handlers/todo-data.ts
  libs/todo-app/domain/mocks/src/lib/handlers/todo-handlers.ts
  libs/todo-app/domain/src/lib/state.module.ts
  libs/todo-app/domain/src/lib/todo-list/todo-list-facade.service.ts
  libs/todo-app/feature/project.json
  migrations.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

refactor: remove unused browser configurations
  apps/todo-app/playwright/mock-tests/playwright-mock.config.ts
  apps/todo-app/playwright/mock-tests/todo-list.spec.ts
  apps/todo-app/playwright/playwright.config.ts
  libs/shared/data-access/data-access-logging/src/lib/log/log.service.ts
  libs/todo-app/domain/src/lib/todo-list/todo-list-facade.service.ts
  libs/todo-app/domain/trpc-server/src/lib/trpc-server.ts
  playwright.config.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: create error scenarios
  apps/todo-app/playwright/mock-tests/todo-list.spec.ts
  apps/todo-app/playwright/playwright.config.ts
  libs/todo-app/domain/src/lib/todo-list/todo-list-facade.service.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

refactor: update type annotations and improve error
  libs/shared/data-access/data-access-logging/src/lib/browser-detector/browser-detector.service.ts
  libs/shared/data-access/data-access-logging/src/lib/global-error-handler/global-error-handler.service.ts
  libs/shared/data-access/data-access-logging/src/lib/log/log-http.interceptor.ts
  libs/shared/data-access/data-access-logging/src/lib/log/log.service.ts
  libs/shared/data-access/data-access-logging/src/lib/log/logger.ts
  libs/shared/data-access/data-access-logging/src/lib/log/session-id.service.ts
  libs/shared/data-access/data-access-logging/src/lib/store/anonymizer/store-anonymization.service.spec.ts
  libs/shared/data-access/data-access-logging/src/lib/store/error-action-creator.spec.ts
  libs/todo-app/domain/src/lib/todo-list/resources/todo-list-resources.service.ts
  libs/todo-app/domain/src/lib/todo-list/state/todo-list.effects.ts
  libs/todo-app/domain/src/lib/todo-list/state/todo-list.reducer.spec.ts
  libs/todo-app/domain/src/lib/todo-list/todo-list-facade.service.spec.ts
  libs/todo-app/domain/trpc-server/src/lib/trpc-server.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: remove unused
  libs/todo-app/domain/mocks/src/lib/scenarios.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: nx cloud id
  nx.json
Due: npx nx format:write --files=${files.join(',')}

chore: update pnpm cache directory configuration in pipelines
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
Due: npx nx format:write --files=${files.join(',')}

fix: ci
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files=${files.join(',')}

fix: add condition for Pull Request builds in parallel pipeline
  tools/pipelines/parallel-pipeline.yml
Due: npx nx format:write --files=${files.join(',')}

chore: remove unused e2e
  apps/questionnaire-app-e2e/.eslintrc.json
  apps/questionnaire-app-e2e/cypress.json
  apps/questionnaire-app-e2e/project.json
  apps/questionnaire-app-e2e/src/fixtures/example.json
  apps/questionnaire-app-e2e/src/integration/app.spec.ts
  apps/questionnaire-app-e2e/src/plugins/index.js
  apps/questionnaire-app-e2e/src/support/app.po.ts
  apps/questionnaire-app-e2e/src/support/commands.ts
  apps/questionnaire-app-e2e/src/support/index.ts
  apps/questionnaire-app-e2e/tsconfig.e2e.json
  apps/questionnaire-app-e2e/tsconfig.json
  apps/reactapp-e2e/.eslintrc.json
  apps/reactapp-e2e/cypress.json
  apps/reactapp-e2e/project.json
  apps/reactapp-e2e/src/fixtures/example.json
  apps/reactapp-e2e/src/integration/app.spec.ts
  apps/reactapp-e2e/src/plugins/index.js
  apps/reactapp-e2e/src/support/app.po.ts
  apps/reactapp-e2e/src/support/commands.ts
  apps/reactapp-e2e/src/support/index.ts
  apps/reactapp-e2e/tsconfig.e2e.json
  apps/reactapp-e2e/tsconfig.json
  apps/todo-admin-e2e/.eslintrc.json
  apps/todo-admin-e2e/cypress.json
  apps/todo-admin-e2e/project.json
  apps/todo-admin-e2e/src/fixtures/example.json
  apps/todo-admin-e2e/src/integration/app.spec.ts
  apps/todo-admin-e2e/src/plugins/index.ts
  apps/todo-admin-e2e/src/support/app.po.ts
  apps/todo-admin-e2e/src/support/commands.ts
  apps/todo-admin-e2e/src/support/index.ts
  apps/todo-admin-e2e/tsconfig.e2e.json
  apps/todo-admin-e2e/tsconfig.json
  libs/todo-app/feature/cypress.config.ts
  libs/todo-app/feature/playwright.config.ts
  libs/todo-app/feature/project.json
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.cy.ts
  test-results/.last-run.json
  tools/pipelines/dte-pipeline.yml
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: fix
  apps/todo-app/cypress/fixtures/example.json
  apps/todo-app/cypress/support/commands.ts
  apps/todo-app/cypress/support/component-index.html
  apps/todo-app/cypress/support/component.ts
  apps/todo-app/cypress/tsconfig.json
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: test fix
  apps/todo-app/playwright/e2e/playwright-e2e.config.ts
  apps/todo-app/playwright/mock-tests/playwright-mock.config.ts
  apps/todo-app/playwright/playwright.config.ts
  tools/pipelines/dte-pipeline.yml
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: enhance serial pipeline with mock tests and e2e execution
  tools/pipelines/serial-pipeline.yml
Due: npx nx format:write --files=${files.join(',')}

fix: restore Pull Request branch tracking and update CI run distribution
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files=${files.join(',')}

chore: consolidate lint, test, and build steps in CI pipeline
  tools/pipelines/dte-pipeline.yml
Due: npx nx format:write --files=${files.join(',')}

chore: adjust parallel execution for mock
  tools/pipelines/serial-pipeline.yml
Due: npx nx format:write --files=${files.join(',')}

Path conditions:
  nx affected:lint --files=${files.join(',')}: any of: *.ts
  npx nx format:write --files=${files.join(',')}: any of: *
  stylelint --fix: any of: *.scss
