Repository lydemann/Todo-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nx format:write --files, npx eslint --fix, npx stylelint --fix

chore: fix lint
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.cy.ts
Due: npx nx format:write --files, npx eslint --fix

chore: fix lint
  .eslintrc.json
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.cy.ts
  tsconfig.base.json
Due: npx nx format:write --files, npx eslint --fix

chore: fix lint
  apps/todo-app/src/app/app.module.ts
  apps/todo-app/src/app/app.routes.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.cy.ts
Due: npx nx format:write --files, npx eslint --fix

chore: fix pipeline
  tools/pipelines/simple-pipeline.yml
Due: none

ci: affected commands
  tools/pipelines/simple-pipeline.yml
Due: none

ci: add comments
  tools/pipelines/simple-pipeline.yml
Due: none

ci: fix deps
  package.json
  yarn.lock
Due: npx nx format:write --files

chore: fix lint
  libs/shared/data-access/data-access-logging/src/lib/global-error-handler/global-error-handler.service.ts
  libs/shared/ui/src/lib/spinner-overlay-wrapper/spinner-overlay-wrapper.component.spec.ts
  libs/shared/util/util-i18n/src/lib/pipes/local-date.pipe.ts
Due: npx nx format:write --files, npx eslint --fix

fix: lint
  apps/reactapp/src/app/shared/components/todo-form/todo-form.tsx
Due: none

ci: tag build
  tools/pipelines/simple-pipeline.yml
Due: none

ci: fix
  tools/pipelines/simple-pipeline.yml
Due: none

ci: fix tag builds
  tools/pipelines/simple-pipeline.yml
Due: none

ci: fix tag
  tools/pipelines/simple-pipeline.yml
Due: none

ci: fix react build
  apps/reactapp/index.html
  apps/reactapp/project.json
  apps/reactapp/src/main.tsx
  apps/reactapp/tsconfig.app.json
  apps/reactapp/tsconfig.json
  apps/reactapp/tsconfig.spec.json
  apps/reactapp/vite.config.ts
  libs/shared/ui/.storybook/tsconfig.json
  libs/shared/ui/src/lib/toggle/toggle.component.ts
  libs/shared/util/src/lib/immutable-collection-helper.ts
  libs/shared/util/util-i18n/src/lib/services/locale.service.ts
  package.json
  yarn.lock
Due: npx nx format:write --files, npx eslint --fix

ci: test optimize runs
  tools/pipelines/simple-pipeline.yml
Due: none

ci: cache dependencies
  tools/pipelines/simple-pipeline.yml
  tools/pipelines/templates/npm-setup.yml
Due: none

chore: fix lint
  .lintstagedrc
  libs/shared/ui/src/lib/textarea/textarea.component.ts
Due: npx nx format:write --files, npx eslint --fix

fix: format
  libs/shared/ui/src/lib/textarea/textarea.component.ts
Due: npx nx format:write --files, npx eslint --fix

fix: format
  .lintstagedrc
Due: none

ci: fix yarn cache folder
  tools/pipelines/templates/npm-setup.yml
Due: none

ci: add dte example
  tools/pipelines/dte-pipeline.yml
Due: none

ci: pipeline cache
  tools/pipelines/simple-pipeline.yml
Due: none

Fix simple pipeline (#52)
  .eslintrc.json
  apps/reactapp/index.html
  apps/reactapp/project.json
  apps/reactapp/src/app/shared/components/todo-form/todo-form.tsx
  apps/reactapp/src/main.tsx
  apps/reactapp/tsconfig.app.json
  apps/reactapp/tsconfig.json
  apps/reactapp/tsconfig.spec.json
  apps/reactapp/vite.config.ts
  apps/todo-app-e2e/src/support/todo.po.ts
  apps/todo-app/src/app/app.module.ts
  apps/todo-app/src/app/app.routes.ts
  libs/shared/data-access/data-access-logging/project.json
  libs/shared/data-access/data-access-logging/src/lib/global-error-handler/global-error-handler.service.ts
  libs/shared/data-access/project.json
  libs/shared/interfaces/todo-interfaces/project.json
  libs/shared/ui/.storybook/tsconfig.json
  libs/shared/ui/src/lib/spinner-overlay-wrapper/spinner-overlay-wrapper.component.spec.ts
  libs/shared/ui/src/lib/textarea/textarea.component.ts
  libs/shared/ui/src/lib/toggle/toggle.component.ts
  libs/shared/util/src/lib/immutable-collection-helper.ts
  libs/shared/util/util-i18n/src/lib/pipes/local-date.pipe.ts
  libs/shared/util/util-i18n/src/lib/services/locale.service.ts
  libs/todo-app/domain/src/lib/generic-action.ts
  libs/todo-app/feature/.eslintrc.json
  libs/todo-app/feature/project.json
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.cy.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.spec.ts
  package.json
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/simple-pipeline.yml
  tools/pipelines/templates/npm-setup.yml
  tsconfig.base.json
  yarn.lock
Due: npx nx format:write --files, npx eslint --fix

ci: remove unused
  tools/pipelines/distributed.yml
  tools/pipelines/prepare-release.yaml
  tools/pipelines/pull-request.yaml
  tools/pipelines/scripts/build-affected.ps1
  tools/pipelines/scripts/create-affected-apps-txt.ps1
  tools/pipelines/scripts/read-and-tag-affected-apps-in-artifact.ps1
  tools/pipelines/scripts/set-last-merged-pr-commit-sha.js
  tools/pipelines/scripts/tags-for-affected-apps.ps1
  tools/pipelines/templates/npm-setup.yml
  tools/pipelines/templates/publish-artifacts.yml
Due: none

ci: separate step for commands
  tools/pipelines/simple-pipeline.yml
Due: none

ci: add display
  tools/pipelines/simple-pipeline.yml
Due: none

Feature/cleanup pipelines (#53)
  tools/pipelines/distributed.yml
  tools/pipelines/prepare-release.yaml
  tools/pipelines/pull-request.yaml
  tools/pipelines/scripts/build-affected.ps1
  tools/pipelines/scripts/create-affected-apps-txt.ps1
  tools/pipelines/scripts/read-and-tag-affected-apps-in-artifact.ps1
  tools/pipelines/scripts/set-last-merged-pr-commit-sha.js
  tools/pipelines/scripts/tags-for-affected-apps.ps1
  tools/pipelines/simple-pipeline.yml
  tools/pipelines/templates/npm-setup.yml
  tools/pipelines/templates/publish-artifacts.yml
Due: none

ci: change to main
  .github/workflows/README.md
  .github/workflows/automerge.yml
  .github/workflows/merge-queue.yml
  README.md
  azure-pipelines.yml
  nx.json
  package.json
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/simple-pipeline.yml
Due: npx nx format:write --files

Change to main (#54)
  .github/workflows/README.md
  .github/workflows/automerge.yml
  .github/workflows/merge-queue.yml
  README.md
  azure-pipelines.yml
  nx.json
  package.json
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/simple-pipeline.yml
Due: npx nx format:write --files

ci: dte
  tools/pipelines/dte-pipeline.yml
Due: none

Fix dte (#56)
  tools/pipelines/dte-pipeline.yml
Due: none

ci: shared pipeline
  nx.json
  tools/pipelines/parallel-pipeline.yml
Due: npx nx format:write --files

Parallel pipeline (#57)
  nx.json
  tools/pipelines/parallel-pipeline.yml
Due: npx nx format:write --files

ci: run without stop after build
  tools/pipelines/dte-pipeline.yml
Due: none

ci: dte fix
  tools/pipelines/dte-pipeline.yml
Due: none

Optimize dte (#58)
  tools/pipelines/dte-pipeline.yml
Due: none

feat: angular 17 upgrade
  .stylelintrc.json
  libs/shared/ui/styles/src/lib/themes/dark-theme.scss
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
  libs/todo-app/domain/src/lib/state.module.ts
  migrations.json
  package.json
  tools/pipelines/serial-pipeline.yml
  yarn.lock
Due: npx nx format:write --files, npx eslint --fix, npx stylelint --fix

Path conditions:
  npx nx format:write --files: any of: *.{ts,json,md,scss,html}
  npx eslint --fix: any of: *.ts
  npx stylelint --fix: any of: *.scss
