Repository lydemann/Todo-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}, stylelint --fix

.lintstagedrc:

{
	"*.ts": ["nx affected:lint --files=${files.join(',')}"],
	"*": ["npx nx format:write --files=${files.join(',')}"],
	"*.scss": ["stylelint --fix"]
}

test: testing with msw and cy ct
  apps/todo-app/src/app.config.ts
  apps/todo-app/src/main.ts
  libs/todo-app/domain/src/mocks/browser.ts
  libs/todo-app/domain/src/mocks/handlers.ts
  libs/todo-app/domain/src/mocks/handlers/general-handlers.ts
  libs/todo-app/domain/src/mocks/handlers/index.ts
  libs/todo-app/domain/src/mocks/handlers/todo-handlers.ts
  libs/todo-app/domain/src/mocks/index.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.cy.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: fix test
  libs/todo-app/domain/mocks/project.json
Due: npx nx format:write --files=${files.join(',')}

chore: run ct on push
  apps/todo-app/project.json
  package.json
Due: npx nx format:write --files=${files.join(',')}

fix: format
  package.json
  yarn.lock
Due: npx nx format:write --files=${files.join(',')}

fix: build
  apps/todo-app/src/main.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

fix: storybook
  libs/shared/ui/.eslintrc.json
  libs/shared/ui/.storybook/main.ts
  libs/shared/ui/.storybook/tsconfig.json
  libs/shared/ui/project.json
  libs/shared/ui/src/lib/accordion/accordion.component.stories.ts
  libs/shared/ui/src/lib/add-todo/add-todo-reactive-forms/add-todo-reactive-forms.component.stories.ts
  libs/shared/ui/src/lib/add-todo/add-todo/add-todo.component.stories.ts
  libs/shared/ui/src/lib/buttons/button.component.stories.ts
  libs/shared/ui/src/lib/buttons/list-button/add-button/add-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/list-button/delete-button/delete-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/list-button/list-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/list-button/small-fab/small-fab.component.stories.ts
  libs/shared/ui/src/lib/buttons/round-button/fab/fab.component.stories.ts
  libs/shared/ui/src/lib/buttons/round-button/round-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/square-button/primary-button/primary-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/square-button/secondary-button/secondary-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/square-button/square-button.component.stories.ts
  libs/shared/ui/src/lib/checkbox/checkbox.component.stories.ts
  libs/shared/ui/src/lib/crud-item/crud-item.component.stories.ts
  libs/shared/ui/src/lib/date-picker/date-picker.component.stories.ts
  libs/shared/ui/src/lib/icon/icon.component.stories.ts
  libs/shared/ui/src/lib/select/select-option-group/select-option-group.component.stories.ts
  libs/shared/ui/src/lib/select/select-option/select-option.component.stories.ts
  libs/shared/ui/src/lib/select/select.component.stories.ts
  libs/shared/ui/src/lib/spinner-overlay-wrapper/spinner-overlay-wrapper.component.stories.ts
  libs/shared/ui/src/lib/spinner/spinner.component.stories.ts
  libs/shared/ui/src/lib/textarea/textarea.component.stories.ts
  libs/shared/ui/src/lib/toggle/toggle.component.stories.ts
  libs/shared/ui/src/lib/tooltip/tooltip.component.stories.ts
  nx.json
  package.json
  yarn.lock
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

fix: storybook (#67)
  libs/shared/ui/.eslintrc.json
  libs/shared/ui/.storybook/main.ts
  libs/shared/ui/.storybook/tsconfig.json
  libs/shared/ui/project.json
  libs/shared/ui/src/lib/accordion/accordion.component.stories.ts
  libs/shared/ui/src/lib/add-todo/add-todo-reactive-forms/add-todo-reactive-forms.component.stories.ts
  libs/shared/ui/src/lib/add-todo/add-todo/add-todo.component.stories.ts
  libs/shared/ui/src/lib/buttons/button.component.stories.ts
  libs/shared/ui/src/lib/buttons/list-button/add-button/add-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/list-button/delete-button/delete-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/list-button/list-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/list-button/small-fab/small-fab.component.stories.ts
  libs/shared/ui/src/lib/buttons/round-button/fab/fab.component.stories.ts
  libs/shared/ui/src/lib/buttons/round-button/round-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/square-button/primary-button/primary-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/square-button/secondary-button/secondary-button.component.stories.ts
  libs/shared/ui/src/lib/buttons/square-button/square-button.component.stories.ts
  libs/shared/ui/src/lib/checkbox/checkbox.component.stories.ts
  libs/shared/ui/src/lib/crud-item/crud-item.component.stories.ts
  libs/shared/ui/src/lib/date-picker/date-picker.component.stories.ts
  libs/shared/ui/src/lib/icon/icon.component.stories.ts
  libs/shared/ui/src/lib/select/select-option-group/select-option-group.component.stories.ts
  libs/shared/ui/src/lib/select/select-option/select-option.component.stories.ts
  libs/shared/ui/src/lib/select/select.component.stories.ts
  libs/shared/ui/src/lib/spinner-overlay-wrapper/spinner-overlay-wrapper.component.stories.ts
  libs/shared/ui/src/lib/spinner/spinner.component.stories.ts
  libs/shared/ui/src/lib/textarea/textarea.component.stories.ts
  libs/shared/ui/src/lib/toggle/toggle.component.stories.ts
  libs/shared/ui/src/lib/tooltip/tooltip.component.stories.ts
  nx.json
  package.json
  yarn.lock
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

feat: playwright setup
  .cursor/mcp.json
  libs/todo-app/feature/cypress.config.ts
  libs/todo-app/feature/playwright.config.ts
  libs/todo-app/feature/project.json
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.cy.ts
  libs/todo-app/feature/src/lib/todo-list/todo.pw.ts
  migrations.json
  package.json
  playwright-report/index.html
  yarn.lock
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: setup playwright test
  .prettierignore
  apps/todo-app/src/mockServiceWorker.js
  libs/todo-app/domain/mocks/src/lib/handlers/index.ts
  libs/todo-app/domain/mocks/src/lib/handlers/todo-data.ts
  libs/todo-app/domain/mocks/src/lib/handlers/todo-handlers.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.pw.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.page.ts
  libs/todo-app/feature/src/lib/todo-list/todo.pw.ts
  libs/todo-app/feature/tsconfig.pw.json
  package.json
  playwright-report/index.html
  pnpm-lock.yaml
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
  tools/pipelines/serial-pipeline.yml
  tsconfig.base.json
  yarn.lock
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

ci: pnpm install
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
  tools/pipelines/serial-pipeline.yml
Due: npx nx format:write --files=${files.join(',')}

chore: ignore pw files
  .gitignore
Due: npx nx format:write --files=${files.join(',')}

test: playwright test setup
  apps/todo-app-e2e/src/support/todo.po.ts
  libs/shared/ui/src/lib/add-todo/add-todo-reactive-forms/add-todo-reactive-forms.component.html
  libs/shared/ui/src/lib/add-todo/add-todo/add-todo.component.html
  libs/shared/ui/src/lib/crud-item/crud-item.component.html
  libs/shared/ui/src/lib/crud-item/crud-item.component.ts
  libs/todo-app/domain/mocks/src/lib/handlers/todo-handlers.ts
  libs/todo-app/feature/src/lib/shared/todo-item-card/todo-item-card.component.html
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.cy.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.pw.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.page.ts
  libs/todo-app/feature/tsconfig.json
  libs/todo-app/feature/tsconfig.lib.json
  libs/todo-app/feature/tsconfig.pw.json
  libs/todo-app/feature/tsconfig.spec.json
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

feat: playwright e2e and mock-tests setup
  .gitignore
  .vscode/extensions.json
  apps/todo-app-e2e/.eslintrc.json
  apps/todo-app-e2e/cypress.config.ts
  apps/todo-app-e2e/cypress/downloads/downloads.html
  apps/todo-app-e2e/project.json
  apps/todo-app-e2e/src/fixtures/en-lang.json
  apps/todo-app-e2e/src/fixtures/example.json
  apps/todo-app-e2e/src/fixtures/todo-list.ts
  apps/todo-app-e2e/src/integration/todolist.cy.ts
  apps/todo-app-e2e/src/integration/todolist.smoketest.cy.ts
  apps/todo-app-e2e/src/support/commands.ts
  apps/todo-app-e2e/src/support/e2e.ts
  apps/todo-app-e2e/src/support/todo.po.ts
  apps/todo-app-e2e/tsconfig.json
  apps/todo-app/.eslintrc.json
  apps/todo-app/e2e/playwright.config.ts
  apps/todo-app/e2e/todo-app-smoketest.spec.ts
  apps/todo-app/mock-tests/playwright-mock-tests.config.ts
  apps/todo-app/mock-tests/todo-list.component.spec.ts
  apps/todo-app/project.json
  libs/todo-app/feature/project.json
  libs/todo-app/feature/src/lib/todo-list/todo-list.page.ts
  libs/todo-app/feature/tsconfig.lib.json
  libs/todo-app/feature/tsconfig.pw.json
  nx.json
  package.json
  playwright-report/index.html
  pnpm-lock.yaml
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

fix: scripts
  package.json
Due: npx nx format:write --files=${files.join(',')}

test: playwright setup
  apps/todo-app/mock-tests/dfadg.ts
  apps/todo-app/mock-tests/todo-list.spec.ts
  apps/todo-app/playwright.config.ts
  apps/todo-app/project.json
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: run tests in ide
  apps/todo-app/playwright/e2e/playwright-e2e.ts
  apps/todo-app/playwright/e2e/todo-app-smoketest.spec.ts
  apps/todo-app/playwright/mock-tests/playwright-mock.ts
  apps/todo-app/playwright/mock-tests/todo-list.spec.ts
  apps/todo-app/playwright/playwright.config.ts
  apps/todo-app/project.json
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.page.ts
  libs/todo-app/feature/tsconfig.lib.json
  playwright.config.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: remove text
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: npx nx format:write --files=${files.join(',')}

style: scss fix
  apps/reactapp/src/styles.scss
  libs/shared/ui/src/lib/accordion/accordion.component.scss
  libs/shared/ui/src/lib/buttons/button.component.scss
  libs/shared/ui/src/lib/buttons/button.styles.scss
  libs/shared/ui/src/lib/buttons/list-button/add-button/add-button.component.scss
  libs/shared/ui/src/lib/buttons/list-button/delete-button/delete-button.component.scss
  libs/shared/ui/src/lib/buttons/list-button/small-fab/small-fab.component.scss
  libs/shared/ui/src/lib/buttons/round-button/fab/fab.component.scss
  libs/shared/ui/src/lib/buttons/square-button/primary-button/primary-button.component.scss
  libs/shared/ui/src/lib/buttons/square-button/secondary-button/secondary-button.component.scss
  libs/shared/ui/src/lib/buttons/square-button/square-button.component.scss
  libs/shared/ui/src/lib/date-picker/date-picker.component.scss
  libs/shared/ui/src/lib/spinner/spinner.component.scss
  libs/shared/ui/src/lib/toggle/toggle.component.scss
  libs/shared/ui/src/lib/tooltip/tooltip.component.scss
  libs/shared/ui/styles/src/lib/global-styling.scss
  libs/shared/ui/styles/src/lib/helpers.scss
  libs/shared/ui/styles/src/lib/helpers/variables.scss
  libs/shared/ui/styles/src/lib/themes.scss
  libs/shared/ui/styles/src/lib/themes/dark-theme.scss
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
  libs/todo-app/domain/mocks/src/lib/handlers/todo-handlers.ts
  stories/guidelines/color/color.component.scss
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}, stylelint --fix

style: scss fix
  libs/shared/ui/src/lib/buttons/button.styles.scss
  libs/shared/ui/src/lib/buttons/list-button/small-fab/small-fab.component.scss
  libs/shared/ui/src/lib/buttons/square-button/square-button.component.scss
Due: npx nx format:write --files=${files.join(',')}, stylelint --fix

fix: msw
  libs/todo-app/domain/mocks/src/lib/handlers/todo-handlers.ts
  libs/todo-app/domain/src/lib/trpc-client.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  apps/todo-app/project.json
  libs/todo-app/domain/src/lib/todo-list/resources/todo-list-resources.service.ts
  libs/todo-app/domain/trpc-server/src/lib/trpc-server.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.page.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: playwright tests
  apps/todo-app/playwright/mock-tests/todo-list.spec.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.page.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

fix: build
  package.json
  pnpm-lock.yaml
Due: npx nx format:write --files=${files.join(',')}

chore: fix build
  webpack.node.config.js
Due: npx nx format:write --files=${files.join(',')}

test: fix
  libs/shared/ui/src/lib/input/number-input.directive.spec.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  apps/todo-app/jest.config.ts
  libs/shared/ui/src/lib/input/number-input.directive.spec.ts
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  apps/pwa-client/src/test-setup.ts
  libs/todo-app/domain/src/test-setup.ts
  libs/todo-app/testing-util/src/test-setup.ts
  test-setup.base.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  apps/todo-app/project.json
  nx.json
  package.json
Due: npx nx format:write --files=${files.join(',')}

chore: fix tests
  apps/todo-app/playwright/e2e/playwright-e2e.config.ts
  apps/todo-app/playwright/mock-tests/playwright-mock.config.ts
  apps/todo-app/project.json
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  apps/todo-app/project.json
Due: npx nx format:write --files=${files.join(',')}

ci: fix
  tools/pipelines/dte-pipeline.yml
  tools/pipelines/parallel-pipeline.yml
Due: npx nx format:write --files=${files.join(',')}

test: fix
  package.json
  pnpm-lock.yaml
Due: npx nx format:write --files=${files.join(',')}

chore: build
  package.json
  pnpm-lock.yaml
Due: npx nx format:write --files=${files.join(',')}
