Repository lydemann/Todo-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}, stylelint --fix

feat: angular 17 upgrade
  package.json
  yarn.lock
Due: npx nx format:write --files=${files.join(',')}

test: fix
  libs/todo-app/feature/src/lib/todo-list/duedate-today-count/duedate-today-count.pipe.spec.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

fix: build
  libs/shared/ui/styles/src/lib/themes/dark-theme.scss
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
Due: npx nx format:write --files=${files.join(',')}, stylelint --fix

Feature/angular 17 (#60)
  libs/shared/ui/styles/src/lib/themes/dark-theme.scss
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
Due: npx nx format:write --files=${files.join(',')}, stylelint --fix

chore: new control flow
  apps/questionnaire-app/project.json
  apps/questionnaire-app/src/app/questionnaire/question/question.component.html
  apps/todo-admin/project.json
  apps/todo-app/project.json
  libs/shared/ui/src/lib/buttons/list-button/list-button.component.html
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.html
  migrations.json
  package.json
  yarn.lock
Due: npx nx format:write --files=${files.join(',')}

chore: git ignore
  .gitignore
Due: npx nx format:write --files=${files.join(',')}

chore: no cloud
  nx.json
Due: npx nx format:write --files=${files.join(',')}

test: fix
  apps/todo-admin-e2e/src/plugins/index.ts
  libs/shared/util/util-test/src/lib/effects-testing.ts
  libs/shared/util/util-test/src/lib/spy-helper.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  libs/shared/ui/src/lib/add-todo/add-todo/add-todo.component.spec.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  libs/shared/util/util-test/src/index.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

fix: lint
  apps/todo-service/src/app/app.service.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: lint fi
  libs/shared/data-access/data-access-logging/src/lib/log/log-http.interceptor.ts
  libs/shared/data-access/data-access-logging/src/lib/log/log.service.ts
  libs/shared/data-access/data-access-logging/src/lib/store/anonymizer/feature-store-anonymizer.ts
  libs/shared/data-access/data-access-logging/src/lib/store/anonymizer/store-anonymization.service.spec.ts
  libs/shared/data-access/data-access-logging/src/lib/store/anonymizer/store-anonymization.service.ts
  libs/shared/data-access/data-access-logging/src/lib/store/error-action-creator.ts
  libs/shared/data-access/data-access-logging/src/lib/store/error.effects.spec.ts
  libs/shared/data-access/data-access-logging/src/lib/store/error.effects.ts
  libs/shared/data-access/src/lib/http-service/http.service.ts
  libs/shared/data-access/src/lib/ngrx-lazy-loading.utils.ts
  libs/shared/ui/src/lib/add-todo/add-todo/add-todo.component.spec.ts
  libs/shared/util/util-feature-toggle/src/lib/directives/feature-toggle.directive.ts
  libs/shared/util/util-feature-toggle/src/lib/preload-strategy/feature-toggle-preload-strategy.ts
  libs/shared/util/util-feature-toggle/src/lib/services/feature-toggle.service.spec.ts
  libs/shared/util/util-feature-toggle/src/lib/services/feature-toggle.service.ts
  libs/shared/util/util-i18n/src/lib/pipes/local-currency.pipe.spec.ts
  libs/shared/util/util-i18n/src/lib/pipes/local-currency.pipe.ts
  libs/shared/util/util-i18n/src/lib/pipes/local-number.pipe.ts
  libs/todo-app/domain/src/environments/environment.prod.ts
  libs/todo-app/domain/src/environments/environment.ts
  libs/todo-app/domain/src/lib/todo-app.reducers.ts
  libs/todo-app/domain/src/lib/todo-list/state/todo-list.effects.spec.ts
  libs/todo-app/domain/src/lib/todo-list/state/todo-list.reducer.spec.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

fix: lint
  apps/logging-service/src/app/app.controller.ts
  apps/logging-service/src/app/app.service.ts
  nx.json
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

fix: build
  apps/logging-service/project.json
  libs/todo-app/feature/src/lib/shared/cards-list/cards/cards.component.ts
  package.json
  webpack.node.config.js
  yarn.lock
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

feat: signals input
  apps/questionnaire-app/src/app/questionnaire/question/question.component.html
  libs/shared/ui/src/lib/crud-item/crud-item.component.ts
  libs/shared/ui/src/lib/crud-item/crud-item.module.ts
  libs/shared/ui/src/lib/shared-ui.module.ts
  libs/todo-app/domain/src/lib/todo-list/some.component.ts
  libs/todo-app/domain/src/lib/todo-list/todo-list-facade.service.ts
  libs/todo-app/feature/src/lib/shared/cards-list/cards-list.component.html
  libs/todo-app/feature/src/lib/shared/cards-list/cards-list.component.ts
  libs/todo-app/feature/src/lib/shared/cards-list/cards-list.module.ts
  libs/todo-app/feature/src/lib/shared/cards-list/cards/cards.component.ts
  libs/todo-app/feature/src/lib/shared/cards-list/list/list.component.html
  libs/todo-app/feature/src/lib/shared/cards-list/list/list.component.ts
  libs/todo-app/feature/src/lib/shared/shared.module.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.html
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.ts
  migrations.json
  package.json
  yarn.lock
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  apps/todo-app/src/app/app.routes.ts
  libs/shared/ui/src/lib/crud-item/crud-item.component.spec.ts
  libs/shared/ui/src/lib/crud-item/index.ts
  libs/todo-app/feature/src/lib/shared/cards-list/list/list.component.spec.ts
  libs/todo-app/feature/src/lib/shared/cards-list/list/list.component.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.component.html
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.component.spec.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.component.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.module.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.routing.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.spec.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: output
  libs/shared/ui/src/lib/crud-item/crud-item.component.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: remove
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.spec.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  libs/todo-app/feature/src/lib/shared/cards-list/cards/cards.component.spec.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: fix build
  libs/todo-app/feature/src/lib/todo-list-completed/index.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

Feature/signals input (#62)
  apps/questionnaire-app/src/app/questionnaire/question/question.component.html
  apps/todo-app/src/app/app.routes.ts
  libs/shared/ui/src/lib/crud-item/crud-item.component.spec.ts
  libs/shared/ui/src/lib/crud-item/crud-item.component.ts
  libs/shared/ui/src/lib/crud-item/crud-item.module.ts
  libs/shared/ui/src/lib/crud-item/index.ts
  libs/shared/ui/src/lib/shared-ui.module.ts
  libs/todo-app/domain/src/lib/todo-list/some.component.ts
  libs/todo-app/domain/src/lib/todo-list/todo-list-facade.service.ts
  libs/todo-app/feature/src/lib/shared/cards-list/cards-list.component.html
  libs/todo-app/feature/src/lib/shared/cards-list/cards-list.component.ts
  libs/todo-app/feature/src/lib/shared/cards-list/cards-list.module.ts
  libs/todo-app/feature/src/lib/shared/cards-list/cards/cards.component.spec.ts
  libs/todo-app/feature/src/lib/shared/cards-list/cards/cards.component.ts
  libs/todo-app/feature/src/lib/shared/cards-list/list/list.component.html
  libs/todo-app/feature/src/lib/shared/cards-list/list/list.component.spec.ts
  libs/todo-app/feature/src/lib/shared/cards-list/list/list.component.ts
  libs/todo-app/feature/src/lib/shared/shared.module.ts
  libs/todo-app/feature/src/lib/todo-list-completed/index.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.component.html
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.component.spec.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.component.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.module.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.routing.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.html
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.spec.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.ts
  migrations.json
  package.json
  yarn.lock
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

test: fix
  libs/shared/data-access/data-access-logging/tsconfig.json
  libs/shared/data-access/tsconfig.json
  libs/shared/ui/tsconfig.json
  libs/todo-app/domain/trpc-server/project.json
  libs/todo-app/domain/trpc-server/tsconfig.json
Due: npx nx format:write --files=${files.join(',')}

test: fix
  libs/todo-app/domain/tsconfig.json
Due: npx nx format:write --files=${files.join(',')}

test: fix
  libs/todo-app/domain/src/lib/todo-list/resources/todo-list-resources.service.spec.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

chore: update automerge
  .github/workflows/automerge.yml
Due: npx nx format:write --files=${files.join(',')}

fix: typing
  libs/todo-app/domain/src/lib/trpc-client.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

Featuer/trpc (#64)
  libs/todo-app/domain/src/lib/trpc-client.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

fix: udpate
  apps/pwa-client/ngsw-config.json
  apps/pwa-client/project.json
  apps/pwa-client/src/app/app.component.ts
  apps/pwa-client/src/app/app.config.ts
  apps/pwa-client/src/app/push-notification.service.ts
  apps/pwa-client/src/environments/environment.prod.ts
  apps/pwa-client/src/environments/environment.ts
  apps/pwa-client/src/styles.scss
  apps/pwa-client/tailwind.config.js
  apps/pwa-client/tsconfig.json
  apps/pwa-server/project.json
  apps/pwa-server/src/main.ts
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}, stylelint --fix

chore: fix test
  apps/pwa-client/project.json
Due: npx nx format:write --files=${files.join(',')}

chore: update angular and cypress
  apps/todo-app/src/app/app.module.ts
  libs/todo-app/domain/src/lib/todo-list/some.component.ts
  libs/todo-app/feature/cypress.config.ts
  migrations.json
  package.json
  yarn.lock
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}

feat: msw working
  .stylelintrc.json
  apps/todo-app/project.json
  apps/todo-app/src/app/app.component.ts
  apps/todo-app/src/app/app.module.ts
  apps/todo-app/src/main.ts
  apps/todo-app/src/mockServiceWorker.js
  apps/todo-app/tsconfig.editor.json
  apps/todo-app/tsconfig.json
  libs/shared/ui/project.json
  libs/shared/ui/src/lib/buttons/list-button/list-button.component.ts
  libs/shared/ui/styles/project.json
  libs/shared/ui/styles/src/lib/global-styling.scss
  libs/shared/ui/styles/src/lib/themes.scss
  libs/shared/ui/styles/src/lib/themes/dark-theme.scss
  libs/shared/ui/styles/src/lib/themes/light-theme.scss
  libs/shared/ui/styles/src/lib/themes/theme-common.scss
  libs/shared/ui/styles/src/lib/themesm3-theme.scss
  libs/todo-app/domain/src/environments/environment.mock.ts
  libs/todo-app/domain/src/environments/environment.prod.ts
  libs/todo-app/domain/src/index.ts
  libs/todo-app/domain/src/lib/trpc-client.ts
  libs/todo-app/domain/src/mocks/browser.ts
  libs/todo-app/domain/src/mocks/handlers.ts
  libs/todo-app/domain/src/mocks/index.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.cy.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: nx affected:lint --files=${files.join(',')}, npx nx format:write --files=${files.join(',')}, stylelint --fix

Path conditions:
  nx affected:lint --files=${files.join(',')}: any of: *.ts
  npx nx format:write --files=${files.join(',')}: any of: *
  stylelint --fix: any of: *.scss
