Repository lydemann/Todo-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: cleanup
  tslint-to-eslint-config.log
Due: none

test(todo-domain): migrate to jest
  libs/todo-app/domain/src/lib/todo-list/resources/todo-list-resources.service.spec.ts
  libs/todo-app/domain/src/lib/todo-list/state/todo-list.actions.ts
  libs/todo-app/domain/src/lib/todo-list/state/todo-list.effects.spec.ts
  libs/todo-app/domain/src/lib/todo-list/todo-list-facade.service.spec.ts
Due: prettier --write, eslint --fix

chore: eslint
  .eslintrc.js
  .eslintrc.json
  angular.json
Due: none

fix: lint
  libs/todo-app/domain/src/environments/environment.prod.ts
  libs/todo-app/domain/src/environments/environment.ts
  libs/todo-app/domain/src/lib/todo-list/state/todo-list.effects.ts
Due: prettier --write, eslint --fix

chore: delete eslintjson
  .eslintrc.json
Due: none

chore: fix lint rules
  .eslintrc.js
Due: none

chore: lint fix
  .eslintrc.js
  .eslintrc.json
  angular.json
  libs/todo-app/feature/src/lib/layout/navbar/navbar.component.mock.ts
  libs/todo-app/feature/src/lib/shared/todo-item-card/todo-item-card.component.mock.ts
Due: prettier --write, eslint --fix

chore: fix imports
  .eslintrc.json
  libs/todo-app/feature/src/lib/core/spinner-overlay/spinner-overlay.component.spec.ts
  libs/todo-app/feature/src/lib/todo-list-completed/todo-list-completed.component.spec.ts
  libs/todo-app/feature/src/lib/todo-list/todo-list.component.spec.ts
Due: prettier --write, eslint --fix

chore: test fix
  angular.json
  apps/todo-admin/src/test.ts
  apps/todo-app/src/app/app.component.spec.ts
  apps/todo-app/src/test.ts
  jest.config.js
  libs/shared/data-access/src/test.ts
  libs/shared/ui/src/test.ts
  libs/shared/util/src/test.ts
  libs/shared/util/util-feature-toggle/src/test.ts
  libs/shared/util/util-i18n/jest.config.js
  libs/shared/util/util-i18n/src/test-setup.ts
  nx.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

ci: added basic pipeline
  tools/basic-pipeline/azure-pipelines.yml
Due: none

ci: add agent
  tools/pipelines/pull-request.yaml
Due: none

ci: update
  tools/pipelines/templates/npm-setup.yml
  tools/pipelines/templates/publish-artifacts.yml
Due: none

build: fix react
  angular.json
  apps/reactapp/.babelrc
  apps/reactapp/tsconfig.json
  babel.config.json
  nx.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

ci: fix build
  angular.json
Due: none

ci: build fix
  apps/questionnaire-app/src/app/app.component.ts
  apps/questionnaire-app/tsconfig.app.json
  tsconfig.json
Due: prettier --write, eslint --fix

chore: update tsconfig
  tsconfig.json
Due: none

build(todo-app): fix env
  angular.json
Due: none

ci: fix test
  tools/basic-pipeline/azure-pipelines.yml
  tools/pipelines/pull-request.yaml
Due: none

ci: disable e2e
  tools/pipelines/pull-request.yaml
Due: none

chore: setup e2e
  angular.json
  apps/todo-app-e2e/.eslintrc.json
  apps/todo-app-e2e/cypress.json
  apps/todo-app-e2e/project.json
  apps/todo-app-e2e/src/plugins/index.ts
  apps/todo-app-e2e/tsconfig.e2e.json
  apps/todo-app-e2e/tsconfig.json
  apps/todo-app/project.json
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

test: setup integration tests
  apps/todo-app-e2e/src/fixtures/todo-list.json
  apps/todo-app-e2e/src/fixtures/todo-list.ts
  apps/todo-app-e2e/src/integration/todo.spec.ts
  apps/todo-app-e2e/src/integration/todolist.smoketest.spec.ts
  apps/todo-app-e2e/src/integration/todolist.spec.ts
  apps/todo-app-e2e/src/support/commands.ts
  apps/todo-app-e2e/src/support/todo.po.ts
  libs/shared/ui/src/lib/add-todo/add-todo-reactive-forms/add-todo-reactive-forms.component.ts
  libs/shared/ui/src/lib/crud-item/crud-item.component.html
  nx.json
Due: prettier --write, eslint --fix

test: uncomment
  apps/todo-app-e2e/src/integration/todolist.spec.ts
Due: prettier --write, eslint --fix

chore: update husky
  package.json
  yarn.lock
Due: none

Set up CI with Azure Pipelines
  tools/basic-pipeline/azure-pipelines2.yml
Due: none

ci: simple pipeline
  libs/shared/ui/src/lib/add-todo/add-todo/add-todo.component.spec.ts
  tools/pipelines/simple-pipeline.yml
Due: prettier --write, eslint --fix

ci: add package lock
  package-lock.json
  yarn.lock
Due: none

ci: fix
  angular.json
Due: none

chore: change pipeline branch
  tools/pipelines/simple-pipeline.yml
Due: none

fix: build
  tools/pipelines/scripts/build-affected.ps1
  tools/pipelines/simple-pipeline.yml
Due: none

chore: migrating to eslint + fix ci
  .vscode/extensions.json
  apps/designsystemdemo/jest.config.js
  apps/logging-service/jest.config.ts
  apps/questionnaire-app/jest.config.js
  apps/reactapp/jest.config.js
  apps/todo-app/.eslintrc.json
  apps/todo-app/project.json
  apps/todo-app/src/app/app-init.service.spec.ts
  apps/todo-app/src/main.ts
  apps/todo-app/src/polyfills.ts
  apps/todo-app/tslint.json
  apps/todo-service/jest.config.ts
  jest.config.ts
  libs/shared/data-access/data-access-logging/jest.config.js
  libs/shared/interfaces/todo-interfaces/jest.config.ts
  libs/shared/util/util-test/jest.config.js
  libs/todo-app/feature/project.json
  nx.json
  package-lock.json
  package.json
  tslint.json
Due: prettier --write, eslint --fix

chore: lint fix
  .eslintrc.json
  apps/designsystemdemo/.eslintrc.json
  apps/designsystemdemo/tslint.json
  apps/logging-service/.eslintrc.json
  apps/logging-service/tslint.json
  apps/questionnaire-app/.eslintrc.json
  apps/questionnaire-app/tslint.json
  apps/reactapp/project.json
  apps/todo-admin/.eslintrc.json
  apps/todo-admin/tslint.json
  apps/todo-app/project.json
  apps/todo-app/src/app/app-init.service.ts
  apps/todo-app/src/app/app.component.spec.ts
  apps/todo-app/src/app/app.module.ts
  apps/todo-app/src/main.ts
  apps/todo-app/src/polyfills.ts
  apps/todo-app/src/typings.d.ts
  apps/todo-service/.eslintrc.json
  apps/todo-service/tslint.json
  libs/shared/data-access/.eslintrc.json
  libs/shared/data-access/data-access-logging/.eslintrc.json
  libs/shared/data-access/data-access-logging/tslint.json
  libs/shared/data-access/tslint.json
  libs/shared/interfaces/todo-interfaces/.eslintrc.json
  libs/shared/interfaces/todo-interfaces/tslint.json
  libs/shared/ui/.eslintrc.json
  libs/shared/ui/tslint.json
  libs/shared/util/util-feature-toggle/.eslintrc.json
  libs/shared/util/util-feature-toggle/tslint.json
  libs/shared/util/util-i18n/.eslintrc.json
  libs/shared/util/util-i18n/tslint.json
  libs/shared/util/util-test/.eslintrc.json
  libs/shared/util/util-test/tslint.json
Due: prettier --write, eslint --fix

chore: fix lint
  angular.json
  apps/designsystemdemo-e2e/.eslintrc.json
  apps/designsystemdemo-e2e/project.json
  apps/designsystemdemo-e2e/tslint.json
  apps/questionnaire-app-e2e/.eslintrc.json
  apps/questionnaire-app-e2e/project.json
  apps/questionnaire-app-e2e/tslint.json
  apps/reactapp-e2e/.eslintrc.json
  apps/reactapp-e2e/project.json
  apps/reactapp-e2e/tslint.json
  apps/reactapp/.eslintrc.json
  apps/reactapp/tslint.json
  apps/todo-admin-e2e/.eslintrc.json
  apps/todo-admin-e2e/project.json
  libs/shared/util/.eslintrc.json
  libs/shared/util/project.json
  libs/shared/util/src/lib/guid.ts
  libs/shared/util/tslint.json
  libs/shared/util/util-i18n/project.json
  libs/shared/util/util-test/src/lib/effects-testing.ts
  libs/shared/util/util-test/src/lib/spy-helper.ts
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write, eslint --fix

ci: add yarn
  yarn.lock
Due: none

ci: fix
  tools/pipelines/pull-request.yaml
  tools/pipelines/scripts/build-affected.ps1
Due: none

chore: set base origin master
  tools/pipelines/scripts/build-affected.ps1
Due: none

Path conditions:
  prettier --write: any of: {apps,libs}/**/*.{ts,json,md,scss,html}
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
